.subtitle{
   color: #3056D3;
   font-family: "Inter";
   font-weight: 600;
   font-size: 18px;
   line-height: 1.33; /* 24/18 */
   text-align: center;
}
.title{
   font-family: "Inter";
   font-weight: 700;
   font-size: 40px;
   line-height: 1.125; /* 45/40 */
   text-align: center;
   text-transform: capitalize;
   color: #212B36;
}
@media (max-width:800px) {
   .title{ 
      font-size: 30px;
   }
}
@media (max-width:400px) {
   .title{ 
      font-size: 26px;
   }
}
.title--small{
   font-weight: 600;
   font-size: 24px;
   line-height: 1.24;
   text-align: left;
}
@media (max-width:830px) {
   .title--small{ 
      font-size: 20px;
   }
}
@media (max-width:400px) {
   .title--small{ 
      font-size: 18px;
   }
}

.title--category{
   text-align: left;
}
.text{
   font-family: 'Inter';
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5; /* 24/16 */
   text-align: center;
   color: #637381;
}
.text--category{
   text-align: left;
}